<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Google Fonts -->
    <!-- Rubik 400|500|600, Poppins 300|400|i300, Righteous 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&family=Righteous&family=Rubik:wght@400;500;600&display=swap" rel="stylesheet">    
    
    <!-- My styling -->
    <link href="/styles/site.css" rel="stylesheet">

    <title>Blog Application</title>
  </head>
  <body class="d-flex flex-column">
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="first-nav">
      <div class="container-fluid">

        <div class="navbar-brand">
          <span class="title">Journal<span class="highlight">Mo</span>Ko</span>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact Us</a>
            </li>
          </ul>

        </div>

      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-white" id="category-nav">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">General</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Technology</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Politics</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Social Media</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Lifestyle</a>
            </li>
          </ul>
          
        </div>

      </div>
    </nav>

    <div class="container content">
  