<%- include('partials/header') -%>

<div class="page-heading">
    <h1>About</h1>
    <span class="title">Journal<span class="highlight">Mo</span>Ko</span>
</div>

<div class="sub-content">

    <p><%= about %></p>

</div>

<%- include('partials/footer') -%>
