<%- include('partials/header') -%>

<div class="page-heading">
    <h1>Compose a</h1>
    <span class="title">Journal<span class="highlight">Mo</span>Ko</span>
    <h1>Post</h1>
</div>

<div class="sub-content">

    <form class="" action="/compose" method="POST">
        <div class="mb-3">
            <textarea name="composed" class="form-control" placeholder="What's in your mind?" rows="6"></textarea>
        </div>

        <div>
            <input type="submit" class="btn btn-secondary btn-accent" value="Post" >
        </div>
    </form>

</div>

<%- include('partials/footer') -%>