<%- include('partials/header') -%>

<a href="/compose">compose</a>

<div class="page-heading">
    <span class="title"><span class="highlight">e</span>Journal<span class="highlight">Mo</span>Ko</span>
    <h1>Welcomes You!</h1>
</div>

<%- include('partials/footer') -%>
